.container_2{
    margin: 0 70px 70px 55px;
    display: flex;
    justify-content: space-evenly;
}

span{
    font-weight: bold;
}

.intro{
    text-align: center;
}

.intro p{
    margin-bottom: 30px;
}

.intro h2{
    font-family: calibri;
}

.me{
    width: 35%;
    height: 670px;
    background-color: aqua;
    background-image: url(/img/me.jpg);
    background-size: cover;
    background-position: center;
}

.contenido{
    width: 90%;
    height: 430px;
    margin-left: 40px;
}

/* CODIGO PARA EL ORDEN DE LA PRIMERA PARTE DE CONTENIDO */
svg{
    margin: 10px 5px;
}

.svg--block{
    float: left;
    display: flex;
    flex-direction: column;
}

.text--block{
    float: left;
    display: flex;
    flex-direction: column;
}

.text--block p{
    margin: 8.8px 1px;
}

.section2{
 float: right;
 width: 50%;
}

/* SECTOR 3 IZQUIERDA */
.up{
    width: 27%;
    height: 250px;
    position: absolute;
    top: 375px;
    display: flex;
}

.down{
    width: 27%;
    height: 250px;
    position: absolute;
    top: 510px;
    display: flex;
}

/* SECCION 4 DERECHA */
.seccion_4 .up{
    width: 25%;
    height: 250px;
    position: absolute;
    top: 375px;
    display: flex;
    right: 100px;
}

.seccion_4 .down{
    width: 30%;
    height: 250px;
    position: absolute;
    top: 505px;    
    right: 100px;
}

/* NUMERO */
.numero{
    padding: 20px 10px;
}

.numero span{
    font-size: 40px;
    font-weight: bold;
}


/* BARRAS */
.progress{
    display: block;
    position: relative;
    top: 300px;
    width: 98%;
    
}

.progress .bar{
    height: 100%;
    width: 100%;
    background-color:  rgb(236, 232, 232);
} 

/* PORCENTAJES */
.porcen,
.porcen2,
.porcen3{
    width: 100%;
    height: 18px;
    background-color: rgb(248, 173, 35);
}

.porcen2{
   width: 90%;
}

.porcen3{
    width: 75%;
}

.num {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    font-weight: bold;
    align-items: center;
}

@media (max-width: 800px ) {
    .container_2{
        display: block;
        margin: 0;
        margin-bottom: 250px;
    }
    .container_2 .me{
    width: 90%;
    margin: 0 20px;
    }
    .contenido{
        margin: 15px;
    }
    .seccion_3,
    .seccion_4{
        position: relative;
        bottom: 250px;
        font-size: 1.3rem;
        margin-left:10px;
    }
    .seccion_3 .up,
    .seccion_3 .down{
        width: 50%;
        left: -10px;
    }

    .seccion_4 .up,
    .seccion_4 .down{
        width: 50%;
        left: 200px;
    }

    .seccion_4 .up{
        left: 240px;
    }

    .progress{
        top: 300px;
        width: 100%;
    }
}
